<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ Titulo }}</title>
</head>
<body>
    <div class="container">
        <table clas="table table-striped table-responsive table-borded">
            <thead>
                <tr>
                    <th>Nome modalidade</th>
                    <th>Prazo mínimo</th>
                    <th>Prazo maxímo</th>
                    <th>IR</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>RDC Flexível</td>
                    <td>0</td>
                    <td>5000</td>
                    <td>Regressivo</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>