{% extends "template.html" %}
{% block conteudo %}

<div class="container mx-auto row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 row-cols-xxl-6 g-4">
  <div class="col">
    <div class="card h-100">
      <a href="{{url_for('simulacao')}}" class="card-link">
        <img src="../static/img/simulacao.jpg" class="card-img-top" alt="...">
      </a>
    <div class="card-body">
      <a href="{{url_for('simulacao')}}" class="card-link">
        <h5 class="card-title">Simulação de investimentos</h5>
      </a></a>
      <p class="card-text" style="font-size: small;">Obtenha a projeção da rentabilidade e sobras previstas para um determinado periodo de aplicação.</p>
    </div>
  </div>
  </div>
<div class="col">
  <div class="card h-100">
    <a href="{{url_for('simulacao')}}" class="card-link">
      <img src="../static/img/politica.jpg" class="card-img-top" alt="...">
    </a>
  <div class="card-body">
    <a href="{{url_for('simulacao')}}" class="card-link">
      <h5 class="card-title">Politica de Captação</h5>
    </a>
    <p class="card-text" style="font-size: small;">Consulte as <strong>taxas vigentes</strong> para o periodo em todas as modalidades de aplicações</p>
  </div>
</div>

</div>
<div class="col">
  <div class="card h-100">
    <a href="{{url_for('simulacao')}}" class="card-link">
      <img src="../static/img/manual.jpg" class="card-img-top" alt="...">
    </a>
  <div class="card-body">
    <a href="{{url_for('simulacao')}}" class="card-link">
      <h5 class="card-title">Manual do Investidor</h5>
    </a>
    <p class="card-text" style="font-size: small;">Entenda sobre os principais <strong>indíces</strong>; IR e IOF; <strong>Guias</strong> operacionais do Sisbr, Intranet e LECOM; <strong>Regras de negócios</strong> de cada modalidade.
    </p>
  </div>
</div>
</div>
<div class="col">
  <div class="card h-100">
    <a href="{{url_for('simulacao')}}" class="card-link">
      <img src="../static/img/dicas.jpg" class="card-img-top" alt="...">
    </a>
  <div class="card-body">
    <a href="{{url_for('simulacao')}}" class="card-link">
      <h5 class="card-title">Dicas para negociação</h5>
    </a>
    <p class="card-text" style="font-size: small;">Seja um <strong>expert</strong> em investimentos e não perca nenhuma negociação. </p>
  </div>
</div>
</div>
<div class="col">
  <div class="card h-100">
    <a href="{{url_for('simulacao')}}" class="card-link">
      <img src="../static/img/ferramentas.jpg" class="card-img-top" alt="...">
    </a>
  <div class="card-body">
    <a href="{{url_for('simulacao')}}" class="card-link">
      <h5 class="card-title">Ferramentas e links</h5>
    </a>
    <p class="card-text" style="font-size: small;">Utilize <strong>conversores de taxas</strong> a.m -> a.a; CDI ao mês; LCA vs CDB/RDC; consulte calculadoras do Banco Central.</p>
  </div>
</div>
</div>
</div>

{% endblock %}
</body>

</html>