{% extends "template.html" %}
{% block conteudo %}
    <form action="/autenticar" method="POST">
        <div class="container">
            <label for="login">Login</label><br>
            <input type="text" name="login" class="form-control" required><br>
            <label for="senha">Senha</label><br>
            <input type="password" name="senha" class="form-control" required><br>
            <button type="submit" class="btn btn-primary">Entrar</button>
        </div>
    </form>
    
{% endblock %}
</body>
</html>