<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ titulo }}</title>
</head>
<body>
    <div class="container">
        <table clas="table table-striped table-responsive table-bordered">
            <thead>
                <tr>
                    <th>Descrição modalidade</th>
                    <th>Prazo mínimo</th>
                    <th>Prazo maxímo</th>
                    <th>Resgate automático</th>
                </tr>
            </thead>
            <tbody>
                {% for modalidade in modalidades_lista %}
                <tr>
                    <td>{{ modalidade.descricao }}</td>
                    <td>{{ modalidade.prazo_minimo }}</td>
                    <td>{{ modalidade.prazo_maximo }}</td>
                    <td>{{ modalidade.resgate_automatico }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>