{% extends "template.html" %}
{% block conteudo %}
        <div class="container">
            <form action="/gravar_modalidade" method="post" class="container text-left col-9">
                <fieldset>
                    <label for="tipo_group">Tipo da modalidade</label>
                    <div>
                        <select class="form-select" id="tipo_group" name="tipo_group">
                        <option selected>Selecione...</option>
                        <option value="RDC">RDC</option>
                        <option value="LCA">LCA</option>
                        <option value="LCI">LCI</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="descricao" class="form-label">Nome modalidade - Sisbr</label><br>
                        <input type="text" id="descricao" name="descricao" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="prazo_minimo">Prazo mínimo</label><br>
                        <input type="number" placeholder="em dias" name="prazo_minimo" id="prazo_minimo" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="prazo_maximo">Prazo maximo</label><br>
                        <input type="number" placeholder="em dias" name="prazo_maximo" id="prazo_maximo" class="form-control">
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" name="permite_resgate_automatico"
                            type="checkbox" role="switch" id="permite_resgate_automatico">
                        <label class="form-check-label" for="permite_resgate_automatico">Permite resgate automatico</label><br>
                    </div>
                    <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
                </fieldset>
            </form>
        </div>
        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Descrição modalidade</th>
                        <th>Prazo mínimo</th>
                        <th>Prazo maxímo</th>
                        <th>Resgate automático</th>
                    </tr>
                </thead>
                <tbody>
                    {% for modalidade in modalidades_lista %}
                    <tr>
                        <td>{{ modalidade.descricao }}</td>
                        <td>{{ modalidade.prazo_minimo }}</td>
                        <td>{{ modalidade.prazo_maximo }}</td>
                        <td>{{ modalidade.resgate_automatico }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endblock %}
    </body>
</html>
