{% extends "template.html" %}
{% block conteudo %}
        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Descrição modalidade</th>
                        <th>Prazo mínimo</th>
                        <th>Prazo maxímo</th>
                        <th>Resgate automático</th>
                    </tr>
                </thead>
                <tbody>
                    {% for modalidade in modalidades_lista %}
                    <tr>
                        <td>{{ modalidade.descricao }}</td>
                        <td>{{ modalidade.prazo_minimo }}</td>
                        <td>{{ modalidade.prazo_maximo }}</td>
                        <td>{{ modalidade.resgate_automatico }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endblock %}
    </body>
</html>
