<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Plataforma de Investimentos em Renda Fixa</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    </head>
    <body>
        <div class="container">
            {% with messages = get_flashed_messages() %}
                {% if messages %} 
                    <ul id="messages" class="list-unstyled">
                    {% for message in messages %}
                        <li class="alert alert-success">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
        <div class="page-header">
            <div class="page-header text-center">
                <h1>{{ titulo }}</h1>
            </div>
        </div>

        {% block conteudo %} {% endblock %}

    </body>
</html>